body {
   ,margin: 0;  
}

.col-left {
width: 30%;
height: 700px;
float: left;
background-color: rosybrown;
}

.nav {
    height: 50px;
}
.nav-item {
    display: inline-block;
    color: silver;
    padding: 10px;
}
.mainContent {
    width: 70%;
    height: 700px;
    float: left;
background-color: steelblue;

}

.container-left {
border: 1;

}